@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import 'tailwindcss';

* {
	font-family: 'Lora', serif !important;
}

::-webkit-scrollbar {
	width: 7px;
	scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
	background: #1b1429;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #3e98c7;
	border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #3e98c7;
	border-radius: 12px;
}
